.navegador {
    padding: 30px ;
    margin: 10px ;
    border-radius: 8px; 
    cursor: pointer;
    width: 170px;
    height: 50px;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}